{% extends "layout/appLayout.html" %}

{% block title %}Category Create{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1>Add Student</h1>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
    
                    <div class="card-body">
                        <form method="post" action="/students-store">
                            <div class="form-group">
                                <label for="first_name">First Name:</label>
                                <input class="form-control" name="first_name" type="text" placeholder="Enter first name" required>
                            </div>

                            <div class="form-group">
                                <label for="last_name">Last Name:</label>
                                <input class="form-control" name="last_name" type="text" placeholder="Enter last name" required>
                            </div>

                            <div class="form-group">
                                <label for="country">Country:</label>
                                <input class="form-control" name="country" type="text" placeholder="Enter country">
                            </div>

                            <div class="form-group">
                                <label for="city">City:</label>
                                <input class="form-control" name="city" type="text" placeholder="Enter city">
                            </div>

                            <div class="form-group">
                                <label for="address">Address:</label>
                                <input class="form-control" name="address" type="text" placeholder="Enter address">
                            </div>

                            <div class="form-group">
                                <label for="phone">Phone:</label>
                                <input class="form-control" name="phone" type="text" placeholder="Enter phone">
                            </div>

                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input class="form-control" name="email" type="email" placeholder="Enter email" required>
                            </div>

                            <div class="form-group">
                                <label for="index_no">Index Number:</label>
                                <input class="form-control" name="index_no" type="text" placeholder="Enter index number" required>
                            </div>

                            <input class="btn btn-primary" value="Create Student" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

